<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droi.guide">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.droi.sdk.application_id"
            android:value="697umbzhqsLHbFjDoI7ofGWknp_OCO5slQDuXSEs" />
        <meta-data
            android:name="com.droi.sdk.platform_key"
            android:value="hmTwMTai_2ckrNKfuH_P-pgA_f5nJ1rP-pgA_f5n" />
        <meta-data
            android:name="com.droi.sdk.channel_name"
            android:value="DROI_CHANNEL1" />
        <meta-data
            android:name="com.droi.sdk.secret_key"
            android:value="DROI_CHANNEL1" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WriteAnswerActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.GuideActivity" />
        <activity android:name=".activity.PushSettingActivity" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.CommentActivity" />
        <activity android:name=".activity.AnswerListActivity"></activity>
    </application>

</manifest>